<div id="<%= dom_id event %>">
  <h3>
    <%= event.name %>
  </h3>

  <p>
    <strong>What:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>When:</strong>
    <%= event.datetime %>
  </p>

  <p>
    <strong>Where:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= event.host.email %>
  </p>

  <p>
    <strong>Attendees:</strong>
    <%= event.attendees.count %>
  </p>

  <%= render "sign_ups/new", event: event %>
</div>
